<div id="page-content-wrapper">
  <div class="container-fluid">
    <textarea rows="20" cols="150">
      check = window.document.querySelector('#htrade');
      if (check) eval(check.value);
      else alert('Khoi dong sai');
    </textarea>
  </div>
</div><br>
