<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        API LVC
      </a>
    </li>
    <li>
      <a href="#">Tool</a>
      <ul>
        <li>
          <a class="link-menu" href="<%= pages_path %>">Danh sách trang</a>
        </li>
        <li>
          <a class="link-menu" href="<%= accounts_path %>">Account</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
